.cover {
  background-color: 
#01010180;
  background-position: 50% 50%;
  background-size: cover;
  height: 370px;
  position: relative;
  width: 100%;
  
}



.adminIconsContainer{
    
    position: absolute;
    top: 10%;
    left: 85%;
    z-index: 3;
    display: flex;
    align-items: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.adminButtons{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FCFCFC;
    margin-right:12px;
    

}



.adminButtons .icon {
    width: 20px;
    height: 20px;
    fill: #6F767E;
    transition: fill .2s;
}

svg, img {
    vertical-align: middle;
}