$primary-color: #fcfcfc;
$body-color: #f4f4f4;
$secondary-color: #efefef;
$icons-color: #6f767e;
$movie-text-color: #202b39;
$labels-color: #33383f;
$bg-color: #01010180;
$text-secondary-color: #686a6c;
$tag-color: rgba(225, 226, 226, 0.5);
$card-header-color: #b5e4ca;
$btn-color: #1a1d1f;
$dark-secondary-color: #1a1d1f;
$btn-bg-color: #2a85ff;

// $color_1: #33383f;
// $color_2: #1a1d1f;
// $color_3: #6f767e;
// $color_4: #fcfcfc;

$font-family: "Inter", sans-serif;
$text-s-small: 13px;
$text-small: 14px;
$text-normal: 15px;
$text-medium: 16px;
$text-large: 18px;
$text-xlarge: 20px;

$font-weight-medium: 600;
$font-weight-normal: 400;
$font-weight-bold: 700;

$box-shadow-1: 0 0 0 2px #efefef inset;
$box-shadow-2: inset 0 0 0 2px #9a9fa5;
$box-shadow-3: 0px 12px 16px rgba(0, 0, 0, 0.0364401);

$flex-align-self: self-start;

$font-family_1: "Inter", sans-serif;
$font-family_2: "Inter";
