





.adminContainer {
    display: flex;
    gap:8px;

}
.adminButtons {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #FCFCFC; 



}



.adminButtons .icon {
  width: 20px;
  height: 20px;
  fill: #6F767E;
  transition: fill .2s;
}

 .icon:first-child {

  fill: #1c72d5 !important;

}

svg,
img {
  vertical-align: middle;
}