@use "variables";

.card {
  position: relative;
  padding: 1rem;
  background: $primary-color;
  border-radius: 8px;
  text-align: left;
}
.cardItemContainer {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $secondary-color;
  display: flex;
  justify-content: space-between;
}
.cardItem {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  padding: 0;
  color: $btn-color;
}
.cardRow {
  display: flex;
  flex-direction: column;
  align-items: $flex-align-self;
  margin-left: 0.5rem;
}
.cardAvatarContainer {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
svg {
  vertical-align: middle;
}
img {
  vertical-align: middle;
  border: none;
}
fieldset {
  border: none;
}
a {
  img {
    border: none;
  }
}
.cardItemTitle {
  max-width: 100%;
  text-align: left;
  font-size: $text-small;
  letter-spacing: -0.02em;
}
.cardItemDetails {
  text-align: left;
  font-size: $text-s-small;
  font-weight: $font-weight-medium;
  line-height: 1.2;
}
