.card {
   
    position: relative;
    padding: 16px;
    background: #FCFCFC;
    border-radius: 8px;

}



.card__head {
    display: flex;
    align-items: center;
    min-height: 40px;
    margin-bottom: 32px;
}


.title {
  position: relative;
  display: inline-block;
  
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -.02em; }


label {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71429;
  color: #33383F; }


  input {
        width: 100%;
    height: 48px;
    padding: 0 10px;
    border-radius: 12px;
    border: 2px solid transparent;
    background: #F4F4F4;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    color: #1A1D1F;
    transition: all .2s;
  }


  textarea {
    background: #F4F4F4;
    border: 2px solid rgba(154, 159, 165, 0.25);
    border-radius: 12px;
    width: 100%;

   

  }