@mixin inter {
  font-family: "Inter", sans-serif;
}
// to vw
@function vw($px-vw, $base-vw: 1600) {
  @return ($px-vw * 100vw) / $base-vw;
}

// to REM
@function rem($value) {
  @return calc($value / 16) + rem;
}

@mixin title {
  font-size: rem(18);
  line-height: rem(36);
  letter-spacing: -0.01em;
  font-weight: 700;
}
@mixin body1 {
  font-size: rem(24);
  line-height: rem(32);
  letter-spacing: -0.02em;
  font-weight: 700;
}
@mixin body1M {
  font-size: rem(20);
  line-height: rem(24);
}
@mixin body1S {
  font-size: rem(16);
  line-height: rem(24);
}
@mixin body2 {
  font-size: rem(20);
  line-height: rem(32);
  letter-spacing: -0.02em;
  font-weight: 500;
}
@mixin body2Bold {
  font-size: rem(20);
  line-height: rem(32);
  letter-spacing: -0.02em;
  font-weight: 700;
}
@mixin body2M {
  font-size: rem(16);
  line-height: rem(24);
}
@mixin base {
  font-size: rem(16);
  line-height: rem(24);
  letter-spacing: -0.01em;
  font-weight: 700;
}
@mixin baseMedium {
  font-size: rem(16);
  line-height: rem(24);
  letter-spacing: -0.01em;
  font-weight: 500;
}
@mixin baseM {
  font-size: rem(15);
  line-height: rem(24);
}
@mixin baseS {
  font-size: rem(14);
  line-height: rem(20);
}
@mixin caption {
  font-size: rem(14);
  line-height: rem(20);
  font-weight: 500;
  letter-spacing: -0.02em;
}
@mixin captionBold {
  font-size: rem(14);
  line-height: rem(20);
  font-weight: 700;
  letter-spacing: -0.02em;
}
@mixin captionSmall {
  font-size: rem(12);
  line-height: rem(16);
  font-weight: 600;
  letter-spacing: -0.02em;
}
@mixin button {
  font-size: rem(12);
  line-height: rem(24);
  font-weight: 800;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}
// responsive titles
@mixin heroM {
  font-size: rem(96);
}
@mixin heroS {
  font-size: rem(64);
  letter-spacing: -0.02em;
}
@mixin h1M {
  font-size: rem(64);
}
@mixin h1S {
  font-size: rem(48);
}
@mixin h2M {
  font-size: rem(48);
}
@mixin h3M {
  font-size: rem(40);
  line-height: rem(48);
}
@mixin h3S {
  font-size: rem(32);
  line-height: rem(40);
}
@mixin h4S {
  font-size: rem(24);
  line-height: rem(32);
}

// media queries
@mixin xl {
  @media only screen and (max-width: "1579px") {
    @content;
  }
}
@mixin w {
  @media only screen and (max-width: "1419px") {
    @content;
  }
}
@mixin x {
  @media only screen and (max-width: "1339px") {
    @content;
  }
}
@mixin d {
  @media only screen and (max-width: "1259px") {
    @content;
  }
}
@mixin t {
  @media only screen and (max-width: "1023px") {
    @content;
  }
}
@mixin m {
  @media only screen and (max-width: "767px") {
    @content;
  }
}
@mixin a {
  @media only screen and (max-width: "639px") {
    @content;
  }
}
@mixin s {
  @media only screen and (max-width: "474px") {
    @content;
  }
}
@mixin r($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
@mixin rmin($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin rh($height) {
  @media screen and (max-height: $height) {
    @content;
  }
} // colors
$a1: #bce6ec;
$a2: #b9a9fb;
$a3: #ffa6d6;
$a4: #dbff73;

$s1: #6dd3c2;
$s2: #1966f7;

$red: #ff5c17;

// colors neutral
$n0: #ffffff;
$n1: #f7fbfa;
$n2: #f1f4f4;
$n3: #e1e2e2;
$n4: #a6aead;
$n5: #686a6c;
$n6: #555555;
$n7: #202025;
$n8: #010101;

// opacity
$o1: rgba($n1, 0.5);
$o3: rgba($n3, 0.5);
$o5: rgba($n5, 0.75);
$o6: rgba($n6, 0.5);
$o7-50: rgba($n7, 0.5);
$o7-75: rgba($n7, 0.75);

$shade: #898e8e;

$grd: conic-gradient(
  from 180deg at 50% 50%,
  #5fff5c -18.66deg,
  #ffe249 22.23deg,
  #f35950 78.14deg,
  #7c5bff 159deg,
  #1ce4ff 202.32deg,
  #5fff5c 341.34deg,
  #ffe249 382.23deg
);

@mixin shadow1 {
  box-shadow: 0px rem(32) rem(48) rem(-16) rgba(0, 0, 0, 0.1);
}
@mixin shadow2 {
  box-shadow: 0px rem(12) rem(40) rem(-16) rgba(0, 0, 0, 0.05);
}
