.container {
  background: #f7fbfa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1px;
}

.heading {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #202025;
}

.p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.02em;

  /* Neutral/05 */

  color: #686a6c;
}
