:root { 
  --black: #000000;
  --neutral01: #f7fbfa;
  --neutral05: #676a6c;
  --neutral07: #202025;
 
  --font-size-l: 32px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xl: 40px;
 
  --font-family-inter: "Inter", Helvetica;
}


.artist {
  align-items: flex-end;
  background-color: #F7FBFA;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px 24px 48px;
  position: relative;
  width: 375px;
}

.display-name-follow-button {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.frame-1326 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.title {
  color: var(--neutral07);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 800;
  letter-spacing: -0.80px;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-961 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 40px;
  position: relative;
}

.text {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.year {
  align-self: stretch;
  color: var(--neutral07);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: -0.64px;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.frame-953 {
  align-self: stretch;
  height: 20px;
  min-width: 143.5px;
  position: relative;
}

.text-1 {
  flex: 1;
  height: 40px;
  min-width: 143.5px;
  position: relative;
}

.bottom {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.bio-links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 39px;
  position: relative;
}

.bio {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.bio-1 {
  color: var(--neutral05);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 800;
  letter-spacing: 2.04px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.we-are-laying-the-gr {
  align-self: stretch;
  color: var(--neutral05);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: relative;
}

