.navContainer{
display: flex;
align-items: center;
width: 100%;
height: 96px;
background: #F4F4F4;
gap: 8px;
left: 0;
    padding: 16px 24px 16px 16px;


}

.navContent{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px;


position: absolute;
height: 96px;
left: 0px;
right: 0px;
top: 0px;

/* Neutral/01 */

background: #FCFCFC;
box-shadow: inset 0px -1px 0px #F4F4F4;

}

.avatarContainer {
/* position: relative;
width: 80px;
height: 80px;
background: #DBFF73;
border: 2px solid #898E8E;
border-radius: 128px; */

}




